{% load ajfilters %}

<div class="card">
    
    <div class="card-img">
        <a href="{% url "produto:detalhes" prod.slug %}">
            <img class="card-img-top" src="{{prod.imagem.url}}" alt="Imagem do produto">
        </a>
    </div>


    <div class="card-body">
        <h3 class="card-title">
            {{prod.nome}}
        </h3>

        <p class="card-text">
            {{prod.descricao_curta}}
        </p>

        <div class="card-price conteiner">
            {% if prod.preco_marketing_promocional%}
            
            <span class="product-old-price muted">   
                {{prod.preco_marketing|formata_preco}}
            </span>

            <span class="product-price">
                {{prod.preco_marketing_promocional|formata_preco}}
            </span>

                
            {% else %} 

                <span class="product-price">
                    {{prod.preco_marketing|formata_preco}}
                </span>
            {% endif %}

        </div>
        
        <a class="card-link" href="{% url "produto:detalhes" prod.slug%}">
            <button type="button" class="btn btn-sm" style="border: 1px solid black;">Ver Detalhes</button>
        </a>
    </div>


</div>