{% if page_obj %}
<div class="pagination">
    <span class="step-links">
        {% if search %}
            {% if page_obj.has_previous %}
                <a class="link-blue forward-left" href="?search={{search}}&page=1"><i class="rotate fa-solid fa-forward-fast"></i></a>
                <a class="link-blue" href="?search={{search}}&page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-circle-left"></i></a>
            {% else %}
                <i class="rotate fa-solid fa-forward-fast"></i>
                <i class="fa-solid fa-circle-left"></i>
            {% endif %}
        {% else %}
            {% if page_obj.has_previous %}
                <a class="link-blue forward-left" href="?page=1"><i class="rotate fa-solid fa-forward-fast"></i></a>
                <a class="link-blue" href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-circle-left"></i></a>
            {% else %}
            <i class="rotate fa-solid fa-forward-fast"></i>
                <i class="fa-solid fa-circle-left"></i>
            {% endif %}
        {% endif %}

        <span class="current">
            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if search %}
            {% if page_obj.has_next %}
                <a class="link-blue" href="?search={{search}}&page={{ page_obj.next_page_number }}"><i class="fa-solid fa-circle-right"></i></a>
                <a class="link-blue" href="?search={{search}}&page={{ page_obj.paginator.num_pages }}"><i class="fa-solid fa-forward-fast"></i></a>
            {% else %}
                <i class="fa-solid fa-circle-right"></i>
                <i class="fa-solid fa-forward-fast"></i>
            {% endif %}
        {% else %}
            {% if page_obj.has_next %}
                <a class="link-blue" href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-circle-right"></i></a>
                <a class="link-blue" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa-solid fa-forward-fast"></i></a>
            {% else %}
                <i class="fa-solid fa-circle-right"></i>
                <i class="fa-solid fa-forward-fast"></i>
            {% endif %}
        {% endif %}
    </span>
</div>
{% endif %}