{% extends "loja/base.html" %}

{% block content %}
    {% if request.session.carrinho %}
        <table>
            <thead>
                <th>Imagem</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Total</th>
            </thead>

            <tbody>
                {% for produto in request.session.carrinho.values %}
                    <tr>
                        <td><img src="/media/{{produto.imagem}}" alt=""></td>

                        <td><a href="{% url "produto:detalhes" produto.slug %}">{{produto.nome}}</a> <i><a href="{% url "produto:remover_carrinho" %}">X</a></i></td>
                        <td>{{produto.quantidade}}</td>
                        {% if produto.preco_promo %}
                            <td>{{produto.preco_promo}}</td>
                        {% else %}
                            <td>{{produto.preco}}</td>
                        {% endif %}
                    </tr>

                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>Carrinho Vazio</p>

    {% endif %}
    



    
{% endblock content %}