{% extends "loja/base.html" %}
{% load ajfilters %}

{% block content %}
    {% if request.session.carrinho %}
        {% include "loja/pages/partials/_carrinho.html" %}

        <span>
            Total: {{request.session.carrinho|cart_total}}
        </span>

        <a href="{% url "produto:resumo_compra" %}">
            <button type='submit'>
                Finalizar
            </button>
        </a>

    {% else %}
        <p>Carrinho Vazio</p>

    {% endif %}



    



    
{% endblock content %}