{% extends "loja/base.html" %}
{% load ajfilters %}

{% block content %}
    {% if carrinho %}
        <h3>Carrinho de Compras</h3>
        <p class="lead">Os Produtos, quantidade e valores que você escolheu.</p>
        {% include "loja/pages/partials/_carrinho.html" %}
        

        <div class="row mt-3">
            <p class="lead">Total no carrinho</p>
            <div class="col-6">
                <div class="row">
                    <p class="col bold">
                        Total: 
                    </p>
                    <p class="col">
                        {{carrinho|cart_total|formata_preco}}
                    </p>
                </div>
            </div>

            <div class="col-6">
                <a href="{% url "produto:resumo_compra" %}">
                    <button type="button" class="btn btn-primary " style="width: 100%;">Finalizar</button>
                </a>
            </div>
        </div>

    {% else %}
        <p>Carrinho Vazio</p>

    {% endif %}



    



    
{% endblock content %}