{% extends "loja/base.html" %}
{% load ajfilters %}

{% block titulo %}Resumo da Compra{% endblock titulo %}

{% block content %}

    <div>
        <div class="dados-usuario">
            <h3>Dados Pessoais</h3>
            <div class="dados-grid">
            
                <div class="dados-item">
                    <dt class="bold">Nome:</dt>
                    <dd>{{usuario.first_name}}</dd>
                </div>

                <div class="dados-item">
                    <dt class="bold" >Sobrenome:</dt>
                    <dd>{{ usuario.last_name }}</dd>
                </div>

                <div class="dados-item">
                    <dt class="bold">Idade:</dt>
                    <dd>{{ perfil.idade }}</dd>
                </div>

                <div class="dados-item">
                    <dt class="bold">CPF:</dt>
                    <dd>{{ perfil.cpf|formata_cpf }}</dd>
                </div>

                <div class="dados-item">
                    <dt class="bold">E-mail:</dt>
                    <dd>{{ usuario.email }}</dd>
                </div>
            </div>

            <h3>Dados do Endereço</h3>

            <div class="dados-grid">
                <div class="dados-item">
                    <dt class="bold">Endereço:</dt>
                    <dd>{{ perfil.endereco }}</dd>
                </div>

                <div class="dados-item">
                    <dt class="bold">Número:</dt>
                    <dd>{{ perfil.numero }}</dd>
                </div>
                
                <div class="dados-item">
                    <dt class="bold">Complemento:</dt>
                    <dd>{{ perfil.complemento }}</dd>
                </div>

                <div class="dados-item">
                    <dt class="bold">Nascimento:</dt>
                    <dd>{{ perfil.bairro }}</dd>
                </div>
                
                <div class="dados-item">
                    <dt class="bold">Cidade:</dt>
                    <dd>{{ perfil.cidade }}</dd>
                </div>

                <div class="dados-item">
                    <dt class="bold">Estado:</dt>
                    <dd>{{ perfil.estado }}</dd>
                </div>
                
                <div class="dados-item">
                    <dt class="bold">CEP:</dt>
                    <dd>{{ perfil.cep }}</dd>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h3>Resumo do carrinho</h3>
            <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>
    
            {% include 'loja/pages/partials/_carrinho.html' %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <p class="lead text-center"><span class="bold">Total do carrinho:</span>
                {{ carrinho_usuario.carrinho|cart_total|formata_preco }}</p>
        </div>
    </div>
    
    <a class="btn btn-block btn-primary btn-lg" href="{% url "pedido:salvar_pedido" %}" style="width: 100%;">
        Realizar pedido e pagar
    </a>


{% endblock content %}


